.navbar {
    background-color: #000;
    height:5vh;
}

.navbar a {
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.25vh 1vw; 
    text-decoration: none;
    font-size: 2.3vh; 
}

.navbar a:hover {
    background-color: #575757;
    cursor: pointer;
}

header {
    height: 5vh;
    padding: 20px 0 70px 0;
    object-fit: cover;
    background: url(assets/fire.jpg);
    background-size: cover;
    
    filter: blur(6px);
    background-attachment: fixed fixed;
}

h1 {
    position: absolute;
    top: 0;
    height: 5vh;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 5em;
    margin-top: 2.5%;
    margin-left: 40%;
    color: #3e3e3e;
    font-weight: normal;
    text-align: center;
}

body {
    background: url("assets/wood_background.jpg");
    background-size: cover;
}

body .mysquare {
    position: relative;
    display: flex;

    background-color: rgba(100, 100, 100, .65);
}

body .mysquare p {
    margin-left: 2vw;
    margin-right: 2vw;
    color: whitesmoke;
}

body .mysquare h2 {
    margin-left: 2vw;
    color: lightyellow;
}

body img {
    width: 48.91vw;
    height: 45vh;
}

a {
    color: whitesmoke;
}